%script{src: "https://cdn.jsdelivr.net/npm/bubbly-bg@1.0.0/dist/bubbly-bg.js"}
%script
  bubbly({
  blur:15,
  colorStart: '#194167',
  colorStop: '#112144',
  radiusFunc:() => 5 + Math.random() * 15,
  angleFunc:() => -Math.PI / 2,
  velocityFunc:() => Math.random() * 7.5,
  bubbleFunc:() => `hsla(${200 + Math.random() * 50}, 100%, 65%, .1)`,
  bubbles:350 });
.user-container
  .user-container__main
    %h2.log-titile
      新規登録
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = render "devise/shared/error_messages", resource: resource
      .field
        = f.label :last_name, "姓 (全角)"
        %span.require 必須
        %br/
        = f.text_field :last_name, placeholder: "例) 田中"

      .field
        = f.label :first_name, "名 (全角)"
        %span.require 必須
        %br/
        = f.text_field :first_name, placeholder: "例) 太郎"

      .field
        = f.label :email
        %span.require 必須
        %br/
        = f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "PC・携帯どちらでも可"
      .field
        = f.label :password
        %span.require 必須
        %br/
        = f.password_field :password, autocomplete: "new-password", placeholder: "6文字以上"
      .field
        = f.label :password_confirmation
        %span.require 必須
        %br/
        = f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "6文字以上"
      .actions
        = f.submit "登録する", class: "sign-btn sign-up-btn"
        = render "devise/shared/links"
