.header
  .title-box
    =link_to root_path do
      .title
        %h1
          ProgRecord
        %p.subtitle
          Progress + Record

  .nav-ver
    %ul.nav-ver-item-left
      %li.nav-ver-item-left__customers.dropdwn
        %p
          取引先
          %i.fas.fa-caret-down
        %ul.dropdwn_menu
          %li
            = link_to "取引先", customers_path
          %li
            = link_to "取引先登録", new_customer_path
      %li.nav-ver-item-left__negotiation.dropdwn
        %p
          商談記録
          %i.fas.fa-caret-down
        %ul.dropdwn_menu
          %li
            = link_to "商談記録", new_negotiation_path, data: {"turbolinks" => false}
    %ul.nav-ver-item
      %li.nav-ver-item__info
        %i.far.fa-bell
        %i.fas.fa-caret-down
        .header-item__info__window
          //新着コメントと進捗をJSでコントロール、余裕があれば件数バッチも
      %li.nav-ver-item__user.dropdwn
        - if user_signed_in?
          .nav-ver-item__user__name
            %i.fas.fa-portrait
            = current_user.last_name
            = current_user.first_name
            %i.fas.fa-caret-down
          %ul.dropdwn_menu
            %li
              = link_to "マイページ", "/"              
            %li
              = link_to "ログアウト",destroy_user_session_path, method: :delete
            %li
              
            %li

        - else
          = link_to "新規登録", new_user_registration_path, class: "sign-up-btn"
          = link_to "ログイン", new_user_session_path, class: "sign-in-btn"

    -# .nav-toggle
    -#   .nav-toggle__inner
    -#     .nav-toggle__inner__bar1
    -#     .nav-toggle__inner__bar2
    -#     .nav-toggle__inner__bar3
    -# .nav-drawer
