= link_to negotiation_path(negotiation.id) do
  .nego-box
    .nego-box__body
      .nego-box__body__contents
        タイトル：#{negotiation.title}
      .nego-box__body__contents
        .nego-box__body__contents__element
          日付：#{negotiation.year}/#{negotiation.month}/#{negotiation.day}
        .nego-box__body__contents__element
          対応者:#{negotiation.user.last_name}
      .nego-box__body__contents
        取引先：#{negotiation.customer.name}
