= render "shared/header"
.container
  .main-nego
    .main-nego__container.nego-back
      %h2
        商談記録の登録
      = form_with model: @negotiation, method: :post, local: true do |f|
        
        .field
          = f.label :タイトル
          = f.text_field :title,class: "title-inputbox"
        .field
          = f.label :会社名
          = f.collection_select :customer_id, Customer.all, :id, :name, {prompt: "--"}
          %span.require 必須

        .field
          = f.label :商談種類
          = f.select :content, ["新規提案", "価格交渉", "契約関係", "納期調整", "その他"], {prompt: "--"}
          %span.require 必須
        .field
          = f.label :対応年月日
          %span.require 必須
          %br/  
          .wrap
            .select
              = f.select :year, [], {prompt: "--"}, {class: "select-year"}
            %span 年
            .select
              = f.select :month, [], {prompt: "--"}, {class: "select-month"}
            %span 月
            .select
              = f.select :day, [], {prompt: "--"}, {class: "select-day"}
            %span 日



        .field
          = f.label :商談内容
          %br/
          = f.text_area :body, class:"negotiation-body"

        .field
          = f.label :重要度
          = f.select :importance, ["★", "★★", "★★★", "★★★★", "★★★★★"]

        .field
          = f.label :関係部署
          = f.select :department, ["医局", "看護局", "技術局", "薬局", "事務局"], {prompt: "--"}

        .field
          = f.label :応対方法
          = f.select :way, ["面会", "電話", "メール", "書面", "その他"], {prompt: "--"}

        .field
          = f.label :次回対応
          = f.select :next_nego, ["あり", "なし", "未定"], {prompt: "--"}, {id: "next-nego"}

        .next-negotiation-box
        
        = f.submit '登録', class: "submit-btn submit-nego"