= render "shared/header"
.container
  .main-nego
    .main-nego__detail
      .main-nego__detail__head
        .main-nego__detail__head__title
          = link_to :back do
            %i.fas.fa-chevron-left
          %p.nego-title
            = @negotiation.title
        .main-nego__detail__head__title
          %p.nego-importance
            = @negotiation.importance
            = react_component 'Pin'
        .main-nego__detail__head__menu
          %i.fas.fa-angle-down
        .main-nego__detail__head__menu__window{ style: "display:none" }
          %li
            = link_to "編集", edit_negotiation_path, data: {"turbolinks" => false}, class: "menu-btn"
            %br/
          %li
            = link_to "削除", negotiation_path, method: :delete, class: "confirm-btn menu-btn"
      .main-nego__detail__head
        .main-nego__detail__head__title
          %p
            #{@negotiation.year}年 #{@negotiation.month}月 #{@negotiation.day}日
        .main-nego__detail__head__user
          %p
            関連部署：#{@negotiation.department.name}
          %p
            担当：#{@negotiation.user.last_name} #{@negotiation.user.first_name}
      .main-nego__detail__box
        .main-nego__detail__box__container
          %p.content
            = @negotiation.content.name
        .main-nego__detail__box__container
          %p
            = @negotiation.customer.name
      .main-nego__detail__box
        .main-nego__detail__box__body
          = safe_join(@negotiation.body.split("\n"), tag(:br))
      .main-nego__detail__box
        .main-nego__detail__box__container
          %p
            次回：
        - if @negotiation.next_nego == "あり"
          .main-nego__detail__box__container
            %p.next-nego-text
              #{@negotiation.next_year}年 #{@negotiation.next_month}月 #{@negotiation.next_day}日
        - else
          %p
            = @negotiation.next_nego
      .main-nego__detail__box
        .main-nego__detail__box__menu
          = link_to "経過登録", new_negotiation_continuation_path(@negotiation.id), data: {"turbolinks" => false}, class: "continuation-btn menu-btn"
          %a.comment-box-btn.menu-btn
            コメントする
          - if @negotiation.comments.length != 0
            %button{class: "comment-show-btn menu-btn"}
              %i.far.fa-comment
              = @negotiation.comments.length
      .main-nego__detail__box
        .main-nego__detail__box__comment{ style: "display:none" }
          = form_with model: @comment, url: negotiation_comments_path(@negotiation.id), local: true do |c|
            .field
              = c.label :コメント
              %span.cancel-btn
                %i.fas.fa-times-circle
              %br/
              = c.text_area :body, class: "comment-area"
              
              = c.submit 'コメントする', class: "comment-submit menu-btn"
          
    .main-nego__detail__box__comment-box{ style: "display:none" }
      = render partial: "comments/comment", collection: @comments

= render "continuations/continuation"
  